name: Lint

on:
  pull_request:
    paths-ignore:
      - "README.*"

  push:
    branches:
      - main
    paths-ignore:
      - "README.*"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Nix
        uses: ./.github/actions/setup

      - name: Install npm dependencies
        shell: bash
        run: nix develop -L -c pnpm install

      - name: Lint
        shell: bash
        run: nix develop -L -c pnpm run lint

      - name: Check types
        shell: bash
        run: nix develop -L -c pnpm run check-types
